interactions:
- request:
    body: '{"name": "gcsfs-testing"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/storage/v1/b/?predefinedAcl=publicReadWrite&predefinedDefaultObjectAcl=authenticatedread&project=test_project
  response:
    body:
      string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"conflict\",\n    \"message\": \"You already own this bucket.
        Please select another name.\"\n   }\n  ],\n  \"code\": 409,\n  \"message\":
        \"You already own this bucket. Please select another name.\"\n }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 409
      message: Conflict
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fa
  response:
    body:
      string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"notFound\",\n    \"message\": \"No such object: gcsfs-testing/tmp/test/a\"\n
        \  }\n  ],\n  \"code\": 404,\n  \"message\": \"No such object: gcsfs-testing/tmp/test/a\"\n
        }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fb
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 404,\n    \"message\": \"No such object:
        gcsfs-testing/tmp/test/b\",\n    \"errors\": [\n      {\n        \"message\":
        \"No such object: gcsfs-testing/tmp/test/b\",\n        \"domain\": \"global\",\n
        \       \"reason\": \"notFound\"\n      }\n    ]\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fc
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 404,\n    \"message\": \"No such object:
        gcsfs-testing/tmp/test/c\",\n    \"errors\": [\n      {\n        \"message\":
        \"No such object: gcsfs-testing/tmp/test/c\",\n        \"domain\": \"global\",\n
        \       \"reason\": \"notFound\"\n      }\n    ]\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fd
  response:
    body:
      string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"notFound\",\n    \"message\": \"No such object: gcsfs-testing/tmp/test/d\"\n
        \  }\n  ],\n  \"code\": 404,\n  \"message\": \"No such object: gcsfs-testing/tmp/test/d\"\n
        }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
- request:
    body: '{"name": "temp", "metadata": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&upload_id=AEnB2UpziU4EhyrRLs4eR5_37e2QeN8TjM6PGPBDBwHsDm9R12LnIDkbALi-osvxN3e_O6SadxXzaJidWXo_lZ8pj2QlRam4eg
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Range:
      - bytes */0
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2UpziU4EhyrRLs4eR5_37e2QeN8TjM6PGPBDBwHsDm9R12LnIDkbALi-osvxN3e_O6SadxXzaJidWXo_lZ8pj2QlRam4eg
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/temp/1573072185997069\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/temp\",\n
        \"name\": \"temp\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\": \"1573072185997069\",\n
        \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:29:45.996Z\",\n
        \"updated\": \"2019-11-06T20:29:45.996Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:29:45.996Z\",\n \"size\": \"0\",\n
        \"md5Hash\": \"1B2M2Y8AsgTpgAmY7PhCfg==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/temp?generation=1573072185997069&alt=media\",\n
        \"crc32c\": \"AAAAAA==\",\n \"etag\": \"CI3u6Ma21uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CI3u6Ma21uUCEAE=
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"items\": [\n    {\n      \"kind\":
        \"storage#object\",\n      \"id\": \"gcsfs-testing/temp/1573072185997069\",\n
        \     \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/temp\",\n
        \     \"name\": \"temp\",\n      \"bucket\": \"gcsfs-testing\",\n      \"generation\":
        \"1573072185997069\",\n      \"metageneration\": \"1\",\n      \"storageClass\":
        \"MULTI_REGIONAL\",\n      \"size\": \"0\",\n      \"md5Hash\": \"1B2M2Y8AsgTpgAmY7PhCfg==\",\n
        \     \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/temp?generation=1573072185997069&alt=media\",\n
        \     \"crc32c\": \"AAAAAA==\",\n      \"etag\": \"CI3u6Ma21uUCEAE=\",\n      \"timeCreated\":
        \"2019-11-06T20:29:45.996Z\",\n      \"updated\": \"2019-11-06T20:29:45.996Z\",\n
        \     \"timeStorageClassUpdated\": \"2019-11-06T20:29:45.996Z\"\n    }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Range:
      - bytes */0
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2UqbUp0XIxKihBDilgR6LppHRNz0VkxeXgQfzjo0WOp42lZQy2GnZ5R5l-fuj6QjZ1i5IWl2gHPsfQI71F-PkfAi13dS-w
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/temp/1573072186845038\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/temp\",\n
        \"name\": \"temp\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\": \"1573072186845038\",\n
        \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:29:46.844Z\",\n
        \"updated\": \"2019-11-06T20:29:46.844Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:29:46.844Z\",\n \"size\": \"0\",\n
        \"md5Hash\": \"1B2M2Y8AsgTpgAmY7PhCfg==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/temp?generation=1573072186845038&alt=media\",\n
        \"crc32c\": \"AAAAAA==\",\n \"etag\": \"CO7OnMe21uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CO7OnMe21uUCEAE=
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "temp", "metadata": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/nonexistentbucket/o?uploadType=resumable
  response:
    body:
      string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"notFound\",\n    \"message\": \"Not Found\"\n   }\n  ],\n
        \ \"code\": 404,\n  \"message\": \"Not Found\"\n }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/?project=test_project
  response:
    body:
      string: "{\n  \"kind\": \"storage#buckets\",\n  \"items\": [\n    {\n      \"kind\":
        \"storage#bucket\",\n      \"id\": \"anaconda-enterprise\",\n      \"selfLink\":
        \"https://www.googleapis.com/storage/v1/b/anaconda-enterprise\",\n      \"projectNumber\":
        \"586241054156\",\n      \"name\": \"anaconda-enterprise\",\n      \"metageneration\":
        \"3\",\n      \"location\": \"US\",\n      \"storageClass\": \"MULTI_REGIONAL\",\n
        \     \"etag\": \"CAM=\",\n      \"locationType\": \"multi-region\",\n      \"timeCreated\":
        \"2017-07-05T23:53:06.552Z\",\n      \"updated\": \"2017-07-14T17:39:54.178Z\"\n
        \   },\n    {\n      \"kind\": \"storage#bucket\",\n      \"id\": \"anaconda-public-data\",\n
        \     \"selfLink\": \"https://www.googleapis.com/storage/v1/b/anaconda-public-data\",\n
        \     \"projectNumber\": \"586241054156\",\n      \"name\": \"anaconda-public-data\",\n
        \     \"metageneration\": \"2\",\n      \"location\": \"US\",\n   [...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/temp
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
