interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/?project=test_project
  response:
    body: {string: "{\n \"kind\": \"storage#buckets\",\n \"items\": [\n  {\n   \"kind\":
        \"storage#bucket\",\n   \"id\": \"anaconda-enterprise\",\n   \"selfLink\":
        \"https://www.googleapis.com/storage/v1/b/anaconda-enterprise\",\n   \"projectNumber\":
        \"586241054156\",\n   \"name\": \"anaconda-enterprise\",\n   \"timeCreated\":
        \"2017-07-05T23:53:06.552Z\",\n   \"updated\": \"2017-07-14T17:39:54.178Z\",\n
        \  \"metageneration\": \"3\",\n   \"location\": \"US\",\n   \"storageClass\":
        \"MULTI_REGIONAL\",\n   \"etag\": \"CAM=\"\n  },\n  {\n   \"kind\": \"storage#bucket\",\n
        \  \"id\": \"anaconda-public-data\",\n   \"selfLink\": \"https://www.googleapis.com/storage/v1/b/anaconda-public-data\",\n
        \  \"projectNumber\": \"586241054156\",\n   \"name\": \"anaconda-public-data\",\n
        \  \"timeCreated\": \"2017-04-05T20:22:12.865Z\",\n   \"updated\": \"2017-07-10T16:32:07.980Z\",\n
        \  \"metageneration\": \"2\",\n   \"location\": \"US\",\n   \"storageClass\":
        \"MULTI_REGIONAL\",\n[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fa
  response:
    body: {string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"notFound\",\n    \"message\": \"No such object: gcsfs-testing/tmp/test/a\"\n
        \  }\n  ],\n  \"code\": 404,\n  \"message\": \"No such object: gcsfs-testing/tmp/test/a\"\n
        }\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fb
  response:
    body: {string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"notFound\",\n    \"message\": \"No such object: gcsfs-testing/tmp/test/b\"\n
        \  }\n  ],\n  \"code\": 404,\n  \"message\": \"No such object: gcsfs-testing/tmp/test/b\"\n
        }\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fc
  response:
    body: {string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"notFound\",\n    \"message\": \"No such object: gcsfs-testing/tmp/test/c\"\n
        \  }\n  ],\n  \"code\": 404,\n  \"message\": \"No such object: gcsfs-testing/tmp/test/c\"\n
        }\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fd
  response:
    body: {string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"notFound\",\n    \"message\": \"No such object: gcsfs-testing/tmp/test/d\"\n
        \  }\n  ],\n  \"code\": 404,\n  \"message\": \"No such object: gcsfs-testing/tmp/test/d\"\n
        }\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testingnew-bucket
  response:
    body: {string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"notFound\",\n    \"message\": \"Not Found\"\n   }\n  ],\n
        \ \"code\": 404,\n  \"message\": \"Not Found\"\n }\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testingnew-bucket/o/?delimiter=%2F
  response:
    body: {string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"notFound\",\n    \"message\": \"Not Found\"\n   }\n  ],\n
        \ \"code\": 404,\n  \"message\": \"Not Found\"\n }\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 404, message: Not Found}
- request:
    body: '{"name": "gcsfs-testingnew-bucket"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://www.googleapis.com/storage/v1/b/?predefinedAcl=projectPrivate&predefinedDefaultObjectAcl=bucketOwnerFullControl&project=test_project
  response:
    body: {string: "{\n \"kind\": \"storage#bucket\",\n \"id\": \"gcsfs-testingnew-bucket\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testingnew-bucket\",\n
        \"projectNumber\": \"586241054156\",\n \"name\": \"gcsfs-testingnew-bucket\",\n
        \"timeCreated\": \"2018-11-09T14:47:30.597Z\",\n \"updated\": \"2018-11-09T14:47:30.597Z\",\n
        \"metageneration\": \"1\",\n \"acl\": [\n  {\n   \"kind\": \"storage#bucketAccessControl\",\n
        \  \"id\": \"gcsfs-testingnew-bucket/project-owners-586241054156\",\n   \"selfLink\":
        \"https://www.googleapis.com/storage/v1/b/gcsfs-testingnew-bucket/acl/project-owners-586241054156\",\n
        \  \"bucket\": \"gcsfs-testingnew-bucket\",\n   \"entity\": \"project-owners-586241054156\",\n
        \  \"role\": \"OWNER\",\n   \"projectTeam\": {\n    \"projectNumber\": \"586241054156\",\n
        \   \"team\": \"owners\"\n   },\n   \"etag\": \"CAE=\"\n  },\n  {\n   \"kind\":
        \"storage#bucketAccessControl\",\n   \"id\": \"gcsfs-testingnew-bucket/project-editors-586241054156\",\n
        \  \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testingnew-bucket/acl/project-editors-586241054156\",\n
        \  \"bucket\": \"gcsfs-testingnew-bucket\",\n   \"entity\": \"project-editors-586241054156\",\n
        \  \"role\": \"OWNER\",\n   \"projectTeam\": {\n    \"projectNumber\": \"586241054156\",\n
        \   \"team\": \"editors\"\n   },\n   \"etag\": \"CAE=\"\n  },\n  {\n   \"kind\":
        \"storage#bucketAccessControl\",\n   \"id\": \"gcsfs-testingnew-bucket/project-viewers-586241054156\",\n
        \  \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testingnew-bucket/acl/project-viewers-586241054156\",\n
        \  \"bucket\": \"gcsfs-testingnew-bucket\",\n   \"entity\": \"project-viewers-586241054156\",\n
        \  \"role\": \"READER\",\n   \"projectTeam\": {\n    \"projectNumber\": \"586241054156\",\n
        \   \"team\": \"viewers\"\n   },\n   \"etag\": \"CAE=\"\n  }\n ],\n \"defaultObjectAcl\":
        [\n  {\n   \"kind\": \"storage#objectAccessControl\",\n   \"entity\": \"project-owners-586241054156\",\n
        \  \"role\": \"OWNER\",\n   \"projectTeam\": {\n    \"projectNumber\": \"586241054156\",\n
        \   \"team\": \"owners\"\n   },\n   \"etag\": \"CAE=\"\n  }\n ],\n \"owner\":
        {\n  \"entity\": \"project-owners-586241054156\"\n },\n \"location\": \"US\",\n
        \"storageClass\": \"STANDARD\",\n \"etag\": \"CAE=\"\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      ETag: [CAE=]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testingnew-bucket/o/?delimiter=%2F&prefix=new-directory%2F
  response:
    body: {string: "{\n \"kind\": \"storage#objects\"\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testingnew-bucket/o/new-directory
  response:
    body: {string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"notFound\",\n    \"message\": \"No such object: gcsfs-testingnew-bucket/new-directory\"\n
        \  }\n  ],\n  \"code\": 404,\n  \"message\": \"No such object: gcsfs-testingnew-bucket/new-directory\"\n
        }\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F
  response:
    body: {string: "{\n \"kind\": \"storage#objects\"\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
