interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/?project=test_project
  response:
    body: {string: "{\n \"kind\": \"storage#buckets\",\n \"items\": [\n  {\n   \"kind\":
        \"storage#bucket\",\n   \"id\": \"anaconda-enterprise\",\n   \"selfLink\":
        \"https://www.googleapis.com/storage/v1/b/anaconda-enterprise\",\n   \"projectNumber\":
        \"586241054156\",\n   \"name\": \"anaconda-enterprise\",\n   \"timeCreated\":
        \"2017-07-05T23:53:06.552Z\",\n   \"updated\": \"2017-07-14T17:39:54.178Z\",\n
        \  \"metageneration\": \"3\",\n   \"location\": \"US\",\n   \"storageClass\":
        \"MULTI_REGIONAL\",\n   \"etag\": \"CAM=\"\n  },\n  {\n   \"kind\": \"storage#bucket\",\n
        \  \"id\": \"anaconda-public-data\",\n   \"selfLink\": \"https://www.googleapis.com/storage/v1/b/anaconda-public-data\",\n
        \  \"projectNumber\": \"586241054156\",\n   \"name\": \"anaconda-public-data\",\n
        \  \"timeCreated\": \"2017-04-05T20:22:12.865Z\",\n   \"updated\": \"2017-07-10T16:32:07.980Z\",\n
        \  \"metageneration\": \"2\",\n   \"location\": \"US\",\n   \"storageClass\":
        \"MULTI_REGIONAL\",\n[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fa
  response:
    body: {string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"notFound\",\n    \"message\": \"No such object: gcsfs-testing/tmp/test/a\"\n
        \  }\n  ],\n  \"code\": 404,\n  \"message\": \"No such object: gcsfs-testing/tmp/test/a\"\n
        }\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fb
  response:
    body: {string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"notFound\",\n    \"message\": \"No such object: gcsfs-testing/tmp/test/b\"\n
        \  }\n  ],\n  \"code\": 404,\n  \"message\": \"No such object: gcsfs-testing/tmp/test/b\"\n
        }\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fc
  response:
    body: {string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"notFound\",\n    \"message\": \"No such object: gcsfs-testing/tmp/test/c\"\n
        \  }\n  ],\n  \"code\": 404,\n  \"message\": \"No such object: gcsfs-testing/tmp/test/c\"\n
        }\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fd
  response:
    body: {string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"notFound\",\n    \"message\": \"No such object: gcsfs-testing/tmp/test/d\"\n
        \  }\n  ],\n  \"code\": 404,\n  \"message\": \"No such object: gcsfs-testing/tmp/test/d\"\n
        }\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 404, message: Not Found}
- request:
    body: '--==0==

      Content-Type: application/json; charset=UTF-8


      {"name": "test/accounts.1.json"}

      --==0==

      Content-Type: application/octet-stream


      {"amount": 100, "name": "Alice"}

      {"amount": 200, "name": "Bob"}

      {"amount": 300, "name": "Charlie"}

      {"amount": 400, "name": "Dennis"}


      --==0==--'
    headers:
      Content-Type: [multipart/related; boundary="==0=="]
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=multipart
  response:
    body: {string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/test/accounts.1.json/1541774755428940\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/test%2Faccounts.1.json\",\n
        \"name\": \"test/accounts.1.json\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1541774755428940\",\n \"metageneration\": \"1\",\n \"contentType\": \"application/octet-stream\",\n
        \"timeCreated\": \"2018-11-09T14:45:55.428Z\",\n \"updated\": \"2018-11-09T14:45:55.428Z\",\n
        \"storageClass\": \"STANDARD\",\n \"timeStorageClassUpdated\": \"2018-11-09T14:45:55.428Z\",\n
        \"size\": \"133\",\n \"md5Hash\": \"xK7pmJz/Oj5HGIyfQpYTig==\",\n \"mediaLink\":
        \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/test%2Faccounts.1.json?generation=1541774755428940&alt=media\",\n
        \"crc32c\": \"6wJAgQ==\",\n \"etag\": \"CMz0+8TGx94CEAE=\"\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      ETag: [CMz0+8TGx94CEAE=]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/test%2Faccounts.1.json
  response:
    body: {string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/test/accounts.1.json/1541774755428940\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/test%2Faccounts.1.json\",\n
        \"name\": \"test/accounts.1.json\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1541774755428940\",\n \"metageneration\": \"1\",\n \"contentType\": \"application/octet-stream\",\n
        \"timeCreated\": \"2018-11-09T14:45:55.428Z\",\n \"updated\": \"2018-11-09T14:45:55.428Z\",\n
        \"storageClass\": \"STANDARD\",\n \"timeStorageClassUpdated\": \"2018-11-09T14:45:55.428Z\",\n
        \"size\": \"133\",\n \"md5Hash\": \"xK7pmJz/Oj5HGIyfQpYTig==\",\n \"mediaLink\":
        \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/test%2Faccounts.1.json?generation=1541774755428940&alt=media\",\n
        \"crc32c\": \"6wJAgQ==\",\n \"etag\": \"CMz0+8TGx94CEAE=\"\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      ETag: [CMz0+8TGx94CEAE=]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Range: [bytes=0-5242880]
    method: GET
    uri: https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/test%2Faccounts.1.json?alt=media&generation=1541774755428940
  response:
    body: {string: '{"amount": 100, "name": "Alice"}

        {"amount": 200, "name": "Bob"}

        {"amount": 300, "name": "Charlie"}

        {"amount": 400, "name": "Dennis"}

'}
    headers:
      Content-Disposition: [attachment]
      Content-Range: [bytes 0-132/133]
      Content-Type: [application/octet-stream]
      ETag: [CMz0+8TGx94CEAE=]
      X-Goog-Generation: ['1541774755428940']
      X-Goog-Metageneration: ['1']
      X-Goog-Storage-Class: [STANDARD]
    status: {code: 206, message: Partial Content}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/2014-01-01.csv
  response:
    body: {string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/2014-01-01.csv/1541774755935722\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/2014-01-01.csv\",\n
        \"name\": \"2014-01-01.csv\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1541774755935722\",\n \"metageneration\": \"1\",\n \"contentType\": \"application/octet-stream\",\n
        \"timeCreated\": \"2018-11-09T14:45:55.935Z\",\n \"updated\": \"2018-11-09T14:45:55.935Z\",\n
        \"storageClass\": \"STANDARD\",\n \"timeStorageClassUpdated\": \"2018-11-09T14:45:55.935Z\",\n
        \"size\": \"51\",\n \"md5Hash\": \"Auycd2AT7x5m8G1W0NXcuA==\",\n \"mediaLink\":
        \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/2014-01-01.csv?generation=1541774755935722&alt=media\",\n
        \"crc32c\": \"yR1u0w==\",\n \"etag\": \"COrrmsXGx94CEAE=\"\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      ETag: [COrrmsXGx94CEAE=]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Range: [bytes=0-5242880]
    method: GET
    uri: https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/2014-01-01.csv?alt=media&generation=1541774755935722
  response:
    body: {string: 'name,amount,id

        Alice,100,1

        Bob,200,2

        Charlie,300,3

'}
    headers:
      Content-Disposition: [attachment]
      Content-Range: [bytes 0-50/51]
      Content-Type: [application/octet-stream]
      ETag: [COrrmsXGx94CEAE=]
      X-Goog-Generation: ['1541774755935722']
      X-Goog-Metageneration: ['1']
      X-Goog-Storage-Class: [STANDARD]
    status: {code: 206, message: Partial Content}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/nested%2Ffile1
  response:
    body: {string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/nested/file1/1541774756677279\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/nested%2Ffile1\",\n
        \"name\": \"nested/file1\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1541774756677279\",\n \"metageneration\": \"1\",\n \"contentType\": \"application/octet-stream\",\n
        \"timeCreated\": \"2018-11-09T14:45:56.676Z\",\n \"updated\": \"2018-11-09T14:45:56.676Z\",\n
        \"storageClass\": \"STANDARD\",\n \"timeStorageClassUpdated\": \"2018-11-09T14:45:56.676Z\",\n
        \"size\": \"6\",\n \"md5Hash\": \"sZRqySSS0jR8YjW00mERhA==\",\n \"mediaLink\":
        \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/nested%2Ffile1?generation=1541774756677279&alt=media\",\n
        \"crc32c\": \"NT3Yvg==\",\n \"etag\": \"CJ+NyMXGx94CEAE=\"\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      ETag: [CJ+NyMXGx94CEAE=]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Range: [bytes=0-5242880]
    method: GET
    uri: https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/nested%2Ffile1?alt=media&generation=1541774756677279
  response:
    body: {string: 'hello

'}
    headers:
      Content-Disposition: [attachment]
      Content-Range: [bytes 0-5/6]
      Content-Type: [application/octet-stream]
      ETag: [CJ+NyMXGx94CEAE=]
      X-Goog-Generation: ['1541774756677279']
      X-Goog-Metageneration: ['1']
      X-Goog-Storage-Class: [STANDARD]
    status: {code: 206, message: Partial Content}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/nested%2Fnested2%2Ffile1
  response:
    body: {string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/nested/nested2/file1/1541774757315320\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/nested%2Fnested2%2Ffile1\",\n
        \"name\": \"nested/nested2/file1\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1541774757315320\",\n \"metageneration\": \"1\",\n \"contentType\": \"application/octet-stream\",\n
        \"timeCreated\": \"2018-11-09T14:45:57.314Z\",\n \"updated\": \"2018-11-09T14:45:57.314Z\",\n
        \"storageClass\": \"STANDARD\",\n \"timeStorageClassUpdated\": \"2018-11-09T14:45:57.314Z\",\n
        \"size\": \"6\",\n \"md5Hash\": \"sZRqySSS0jR8YjW00mERhA==\",\n \"mediaLink\":
        \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/nested%2Fnested2%2Ffile1?generation=1541774757315320&alt=media\",\n
        \"crc32c\": \"NT3Yvg==\",\n \"etag\": \"CPiF78XGx94CEAE=\"\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      ETag: [CPiF78XGx94CEAE=]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Range: [bytes=0-5242880]
    method: GET
    uri: https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/nested%2Fnested2%2Ffile1?alt=media&generation=1541774757315320
  response:
    body: {string: 'hello

'}
    headers:
      Content-Disposition: [attachment]
      Content-Range: [bytes 0-5/6]
      Content-Type: [application/octet-stream]
      ETag: [CPiF78XGx94CEAE=]
      X-Goog-Generation: ['1541774757315320']
      X-Goog-Metageneration: ['1']
      X-Goog-Storage-Class: [STANDARD]
    status: {code: 206, message: Partial Content}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F
  response:
    body: {string: "{\n \"kind\": \"storage#objects\",\n \"prefixes\": [\n  \"nested/\",\n
        \ \"test/\"\n ],\n \"items\": [\n  {\n   \"kind\": \"storage#object\",\n   \"id\":
        \"gcsfs-testing/2014-01-01.csv/1541774755935722\",\n   \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/2014-01-01.csv\",\n
        \  \"name\": \"2014-01-01.csv\",\n   \"bucket\": \"gcsfs-testing\",\n   \"generation\":
        \"1541774755935722\",\n   \"metageneration\": \"1\",\n   \"contentType\":
        \"application/octet-stream\",\n   \"timeCreated[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=nested%2F
  response:
    body: {string: "{\n \"kind\": \"storage#objects\",\n \"prefixes\": [\n  \"nested/nested2/\"\n
        ],\n \"items\": [\n  {\n   \"kind\": \"storage#object\",\n   \"id\": \"gcsfs-testing/nested/file1/1541774756677279\",\n
        \  \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/nested%2Ffile1\",\n
       [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=nested%2Fnested2%2F
  response:
    body: {string: "{\n \"kind\": \"storage#objects\",\n \"items\": [\n  {\n   \"kind\":
        \"storage#object\",\n   \"id\": \"gcsfs-testing/nested/nested2/file1/1541774757315320\",\n
        \  \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/nested%2Fnested2%2Ffile1\",\n
        \  \"name\": \"ne[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=test%2F
  response:
    body: {string: "{\n \"kind\": \"storage#objects\",\n \"items\": [\n  {\n   \"kind\":
        \"storage#object\",\n   \"id\": \"gcsfs-testing/test/accounts.1.json/1541774755428940\",\n
        \  \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/test%2Faccounts.1.json\",\n
        \  \"name\": \"test/accounts.1.[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/test%2Faccounts.2.json
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json]
    status: {code: 204, message: No Content}
version: 1
