interactions:
- request:
    body: '{"name": "gcsfs-testing"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/storage/v1/b/?predefinedAcl=publicReadWrite&predefinedDefaultObjectAcl=authenticatedread&project=test_project
  response:
    body:
      string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"conflict\",\n    \"message\": \"You already own this bucket.
        Please select another name.\"\n   }\n  ],\n  \"code\": 409,\n  \"message\":
        \"You already own this bucket. Please select another name.\"\n }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 409
      message: Conflict
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fa
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 404,\n    \"message\": \"No such object:
        gcsfs-testing/tmp/test/a\",\n    \"errors\": [\n      {\n        \"message\":
        \"No such object: gcsfs-testing/tmp/test/a\",\n        \"domain\": \"global\",\n
        \       \"reason\": \"notFound\"\n      }\n    ]\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fb
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 404,\n    \"message\": \"No such object:
        gcsfs-testing/tmp/test/b\",\n    \"errors\": [\n      {\n        \"message\":
        \"No such object: gcsfs-testing/tmp/test/b\",\n        \"domain\": \"global\",\n
        \       \"reason\": \"notFound\"\n      }\n    ]\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fc
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 404,\n    \"message\": \"No such object:
        gcsfs-testing/tmp/test/c\",\n    \"errors\": [\n      {\n        \"message\":
        \"No such object: gcsfs-testing/tmp/test/c\",\n        \"domain\": \"global\",\n
        \       \"reason\": \"notFound\"\n      }\n    ]\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fd
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 404,\n    \"message\": \"No such object:
        gcsfs-testing/tmp/test/d\",\n    \"errors\": [\n      {\n        \"message\":
        \"No such object: gcsfs-testing/tmp/test/d\",\n        \"domain\": \"global\",\n
        \       \"reason\": \"notFound\"\n      }\n    ]\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
- request:
    body: '{"name": "test/accounts.1.json", "metadata": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&upload_id=AEnB2UosYsXhXd1h7lLZ7aCOpjcP8PZBetoxCbpG77SgZkspFpgPaeDowd366VxB07HJt6EKxQ0h25Oxlkg0CCZ_hJBAt8O3iw
    status:
      code: 200
      message: OK
- request:
    body: '{"amount": 100, "name": "Alice"}

      {"amount": 200, "name": "Bob"}

      {"amount": 300, "name": "Charlie"}

      {"amount": 400, "name": "Dennis"}

'
    headers:
      Content-Range:
      - bytes 0-132/133
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2UosYsXhXd1h7lLZ7aCOpjcP8PZBetoxCbpG77SgZkspFpgPaeDowd366VxB07HJt6EKxQ0h25Oxlkg0CCZ_hJBAt8O3iw
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/test/accounts.1.json/1573072094000134\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/test%2Faccounts.1.json\",\n
        \"name\": \"test/accounts.1.json\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1573072094000134\",\n \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:28:13.999Z\",\n
        \"updated\": \"2019-11-06T20:28:13.999Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:28:13.999Z\",\n \"size\": \"133\",\n
        \"md5Hash\": \"xK7pmJz/Oj5HGIyfQpYTig==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/test%2Faccounts.1.json?generation=1573072094000134&alt=media\",\n
        \"crc32c\": \"6wJAgQ==\",\n \"etag\": \"CIbo+Zq21uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CIbo+Zq21uUCEAE=
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"amount": 500, "name": "Alice"}

      {"amount": 600, "name": "Bob"}

      {"amount": 700, "name": "Charlie"}

      {"amount": 800, "name": "Dennis"}

'
    headers:
      Content-Range:
      - bytes 0-132/133
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2Ur4K2F1haIygiIlYV7RWXaJ-Ar6ERi_6R8fLvG-iktI38B6H8A3r0KZ58S5WL7BU[...]
[...]
- request:
    body: 'name,amount,id

      Alice,100,1

      Bob,200,2

      Charlie,300,3

'
    headers:
      Content-Range:
      - bytes 0-50/51
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2UrIAUMNmHRxlwGTeNu3o6NqL7GycqBtC3UzvBN6fG75f28Dxywtz5Oen-Js1sYzmb_0vsY2My64AzpkQ8MvaHBW8OlYPw
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/2014-01-01.csv/1573072095587382\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/2014-01-01.csv\",\n
        \"name\": \"2014-01-01.csv\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1573072095587382\",\n \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:28:15.587Z\",\n
        \"updated\": \"2019-11-06T20:28:15.587Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:28:15.587Z\",\n \"size\": \"51\",\n
        \"md5Hash\": \"Auycd2AT7x5m8G1W0NXcuA==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/2014-01-01.csv?generation=1573072095587382&alt=media\",\n
        \"crc32c\": \"yR1u0w==\",\n \"etag\": \"CLbY2pu21uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CLbY2pu21uUCEAE=
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'name,amount,id

'
    headers:
      Content-Range:
      - bytes 0-14/15
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2UoHVspcW3oEasH0leO9pEjIs2HWNSikdZjT7MEZdOiHf6ITXdqrt1mkHwtVleXgewepfmimbWaa89hwkXEofVKwb5JCSQ
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/2014-01-02.csv/1573072096292563\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/2014-01-02.csv\",\n
        \"name\": \"2014-01-02.csv\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1573072096292563\",\n \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:28:16.292Z\",\n
        \"updated\": \"2019-11-06T20:28:16.292Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:28:16.292Z\",\n \"size\": \"15\",\n
        \"md5Hash\": \"cGwL6TebGKiJzgyNBJNb6Q==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/2014-01-02.csv?generation=1573072096292563&alt=media\",\n
        \"crc32c\": \"Mpt4QQ==\",\n \"etag\": \"CNPdhZy21uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CNPdhZy21uUCEAE=
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'name,amount,id

      Dennis,400,4

      Edith,500,5

      Frank,600,6

'
    headers:
      Content-Range:
      - bytes 0-51/52
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2Ur6VS4hhcONh-WoeMIXWCjz3uiM4uaQcaAMw6Pw9Ma3EBZqxmNXU21h70_hCtgDygCJiipGLnBiNZiO2zYtFlaywWQLYg
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/2014-01-03.csv/1573072096980312\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/2014-01-03.csv\",\n
        \"name\": \"2014-01-03.csv\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1573072096980312\",\n \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:28:16.980Z\",\n
        \"updated\": \"2019-11-06T20:28:16.980Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:28:16.980Z\",\n \"size\": \"52\",\n
        \"md5Hash\": \"9keZXdUu0YtMynECFSOiMg==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/2014-01-03.csv?generation=1573072096980312&alt=media\",\n
        \"crc32c\": \"x/fq7w==\",\n \"etag\": \"CNjar5y21uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CNjar5y21uUCEAE=
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'hello

'
    headers:
      Content-Range:
      - bytes 0-5/6
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2UqVl3KZPgiALO0tNbh7byIvp12YUmQ2oe5XSPIS0A7GkeJrE7JL9SjaOjAUyjQ1Vzx7rV4HOspO8sft67sCvnwbBzC0iw
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/nested/file1/1573072097879361\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/nested%2Ffile1\",\n
        \"name\": \"nested/file1\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1573072097879361\",\n \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:28:17.879Z\",\n
        \"updated\": \"2019-11-06T20:28:17.879Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:28:17.879Z\",\n \"size\": \"6\",\n
        \"md5Hash\": \"sZRqySSS0jR8YjW00mERhA==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/nested%2Ffile1?generation=1573072097879361&alt=media\",\n
        \"crc32c\": \"NT3Yvg==\",\n \"etag\": \"CMHK5py21uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CMHK5py21uUCEAE=
    status:
      code: 200
      message: OK
[...]
- request:
    body: world
    headers:
      Content-Range:
      - bytes 0-4/5
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2Ur-ImQbTMLxrNmg4z3zM82xIUD-SmFk0eBRiry3H3jJIvic5uiBwQ3Fvms19p6NLkkRvQVDuH_txkD1OGpKm0HzWPLvBg
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/nested/file2/1573072098758409\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/nested%2Ffile2\",\n
        \"name\": \"nested/file2\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1573072098758409\",\n \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:28:18.758Z\",\n
        \"updated\": \"2019-11-06T20:28:18.758Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:28:18.758Z\",\n \"size\": \"5\",\n
        \"md5Hash\": \"fXkwN6B2AYZXSwKC8vQ15w==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/nested%2Ffile2?generation=1573072098758409&alt=media\",\n
        \"crc32c\": \"MaqBTg==\",\n \"etag\": \"CImenJ221uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CImenJ221uUCEAE=
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'hello

'
    headers:
      Content-Range:
      - bytes 0-5/6
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2UpRx4bcVX-xFsaMRiD94_vCREBpKbtk-fb6gDNg92BcvcCaIwnNXcrSQrYb51HC3BRusbijLQSElevK-807TqBuk_Odbw
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/nested/nested2/file1/1573072099400139\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/nested%2Fnested2%2Ffile1\",\n
        \"name\": \"nested/nested2/file1\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1573072099400139\",\n \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:28:19.400Z\",\n
        \"updated\": \"2019-11-06T20:28:19.400Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:28:19.400Z\",\n \"size\": \"6\",\n
        \"md5Hash\": \"sZRqySSS0jR8YjW00mERhA==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/nested%2Fnested2%2Ffile1?generation=1573072099400139&alt=media\",\n
        \"crc32c\": \"NT3Yvg==\",\n \"etag\": \"CMuzw5221uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CMuzw5221uUCEAE=
    status:
      code: 200
      message: OK
[...]
- request:
    body: world
    headers:
      Content-Range:
      - bytes 0-4/5
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2UqvScD7bJWcaXibuwRmyQR0K9RVKXVrxo15g-3gWirzhdGyc0omZq30DRi1eeTJglp4A27F0PHAroyea8zQT0p9gQ4MQg
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/nested/nested2/file2/1573072099999061\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/nested%2Fnested2%2Ffile2\",\n
        \"name\": \"nested/nested2/file2\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1573072099999061\",\n \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:28:19.998Z\",\n
        \"updated\": \"2019-11-06T20:28:19.998Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:28:19.998Z\",\n \"size\": \"5\",\n
        \"md5Hash\": \"fXkwN6B2AYZXSwKC8vQ15w==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/nested%2Fnested2%2Ffile2?generation=1573072099999061&alt=media\",\n
        \"crc32c\": \"MaqBTg==\",\n \"etag\": \"CNX655221uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CNX655221uUCEAE=
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=test
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"prefixes\": [\n    \"test/\"\n
        \ ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=test%2F
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"items\": [\n    {\n      \"kind\":
        \"storage#object\",\n      \"id\": \"gcsfs-testing/test/accounts.1.json/1573072094000134\",\n
        \     \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/test%2Faccounts.1.json\",\n
        \     \"name\": \"test/accounts.1.json\",\n      \"bucket\": \"gcsfs-testing\",\n
        \     \"generation\": \"1573072094000134\",\n      \"metageneration\": \"1\",\n
        \     \"storageClass\": \"MULTI_REGIONAL\",\n      \"size\": \"133\",\n[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"prefixes\": [\n    \"nested/\",\n
        \   \"test/\"\n  ],\n  \"items\": [\n    {\n      \"kind\": \"storage#object\",\n
        \     \"id\": \"gcsfs-testing/2014-01-01.csv/1573072095587382\",\n      \"selfLink\":
        \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/201[...]
- request:
    body: null
    headers:
      Range:
      - bytes=0-132
    method: GET
    uri: https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/test%2Faccounts.1.json?alt=media&generation=1573072094000134
  response:
    body:
      string: '{"amount": 100, "name": "Alice"}

        {"amount": 200, "name": "Bob"}

        {"amount": 300, "name": "Charlie"}

        {"amount": 400, "name": "Dennis"}

'
    headers:
      Content-Disposition:
      - attachment
      Content-Range:
      - bytes 0-132/133
      Content-Type:
      - application/octet-stream
      ETag:
      - CIbo+Zq21uUCEAE=
      X-Goog-Generation:
      - '1573072094000134'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Storage-Class:
      - MULTI_REGIONAL
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=temp_dir
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=temp_dir%2F
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"amount": 500, "name": "Alice"}

      {"amount": 600, "name": "Bob"}

      {"amount": 700, "name": "Charlie"}

      {"amount": 800, "name": "Dennis"}

'
    headers:
      Content-Range:
      - bytes 0-132/133
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2Up-_0-28ZOuLv5S4MuWU2GmzpRmFGCusmK5fSlyJC_Z0dLvXuKPO76zod9VYukt_[...]
[...]
- request:
    body: '{"amount": 100, "name": "Alice"}

      {"amount": 200, "name": "Bob"}

      {"amount": 300, "name": "Charlie"}

      {"amount": 400, "name": "Dennis"}

'
    headers:
      Content-Range:
      - bytes 0-132/133
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2UrnAbtVS-EM-a8Vb85RS5vHBR2ByKcVarGF3066gAlV0KyipFAsKRZG1exnAYQ8V[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=temp_dir%2Faccounts.1.json
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"items\": [\n    {\n      \"kind\":
        \"storage#object\",\n      \"id\": \"gcsfs-testing/temp_dir/accounts.1.json/1573072102356000\",\n
        \     \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/temp_dir%2Faccounts.1.json\",\n
        \     \"name\": \"temp_dir/accounts.1.json\",\n      \"bucket\": \"gcsfs-testing\",\n
        \     \"generation\": \"1573072102356000\",\n      \"metageneration\": \"1\",\n
        \     \"storageClass\": \"MULTI_REGIONAL\",\n      \"size\": \"133\",\n      \"md5Hash\":
        \"xK7pmJz/Oj5HGIyfQpYTig==\",\n      \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/temp_dir%2Faccounts.1.json?generation=1573072102356000&alt=media\",\n
        \     \"crc32c\": \"6wJAgQ==\",\n      \"etag\": \"CKDo95621uUCEAE=\",\n      \"timeCreated\":
        \"2019-11-06T20:28:22.355Z\",\n      \"updated\": \"2019-11-06T20:28:22.355Z\",\n
        \     \"timeStorageClassUpdated\": \"2019-11-06T20:28:22.355Z\"\n    }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=temp_dir%2Faccounts.1.json%2F
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/temp_dir%2Faccounts.1.json?alt=media
  response:
    body:
      string: '{"amount": 100, "name": "Alice"}

        {"amount": 200, "name": "Bob"}

        {"amount": 300, "name": "Charlie"}

        {"amount": 400, "name": "Dennis"}

'
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/octet-stream
      ETag:
      - CKDo95621uUCEAE=
      X-Goog-Generation:
      - '1573072102356000'
      X-Goog-Hash:
      - crc32c=6wJAgQ==,md5=xK7pmJz/Oj5HGIyfQpYTig==
      X-Goog-Metageneration:
      - '1'
      X-Goog-Storage-Class:
      - MULTI_REGIONAL
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=nested
  response:
    body:
      string: "{\n \"kind\": \"storage#objects\",\n \"prefixes\": [\n  \"nested/\"\n
        ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=nested%2F
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"prefixes\": [\n    \"nested/nested2/\"\n
        \ ],\n  \"items\": [\n    {\n      \"kind\": \"storage#object\",\n      \"id\":
        \"gcsfs-testing/nested/file1/1573072097879361\",\n      \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/neste[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=nested%2Fnested2
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"prefixes\": [\n    \"nested/nested2/\"\n
        \ ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=nested%2Fnested2%2F
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"items\": [\n    {\n      \"kind\":
        \"storage#object\",\n      \"id\": \"gcsfs-testing/nested/nested2/file1/1573072099400139\",\n
        \     \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/nested%2Fnested2%2Ffile1\",\n
       [...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/2014-01-01.csv
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/nested%2Ffile1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/nested%2Fnested2%2Ffile1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/test%2Faccounts.1.json
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"amount": 100, "name": "Alice"}

      {"amount": 200, "name": "Bob"}

      {"amount": 300, "name": "Charlie"}

      {"amount": 400, "name": "Dennis"}

'
    headers:
      Content-Range:
      - bytes 0-132/133
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2Uqz9HzxBjgmpxtzD5yNAEAeg6FZDdlMNsR74j8FehRgyrlNZlLQmmXeB-rzODwsn[...]
[...]
- request:
    body: '{"amount": 500, "name": "Alice"}

      {"amount": 600, "name": "Bob"}

      {"amount": 700, "name": "Charlie"}

      {"amount": 800, "name": "Dennis"}

'
    headers:
      Content-Range:
      - bytes 0-132/133
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2UoAFtPA365cDMrFKNOW4X52BWQZbkaAq9ta9E5xoseGDlQK_iT2Nf44c6Mr-sZe9[...]
[...]
- request:
    body: 'name,amount,id

      Alice,100,1

      Bob,200,2

      Charlie,300,3

'
    headers:
      Content-Range:
      - bytes 0-50/51
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2Urs9jER6GGfk1Cc3mTW3YZ74AoanwEPlO17BpEhmYrpzbsJYKSiNrJ-AQKWIR-3U4i40BQPPRG04FvDdEeAyQqJC99CEQ
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/2014-01-01.csv/1573072110007101\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/2014-01-01.csv\",\n
        \"name\": \"2014-01-01.csv\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1573072110007101\",\n \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:28:30.006Z\",\n
        \"updated\": \"2019-11-06T20:28:30.006Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:28:30.006Z\",\n \"size\": \"51\",\n
        \"md5Hash\": \"Auycd2AT7x5m8G1W0NXcuA==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/2014-01-01.csv?generation=1573072110007101&alt=media\",\n
        \"crc32c\": \"yR1u0w==\",\n \"etag\": \"CL3myqK21uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CL3myqK21uUCEAE=
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'name,amount,id

'
    headers:
      Content-Range:
      - bytes 0-14/15
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2Uqq0g-s68NYadEzax0zXSSdQWGzWpDUVZGkthwQO6dQ1I9yJMWn6j5kedrDbabBaLWxVEAvi4jS9Bs1xoehEfPlMnNTBA
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/2014-01-02.csv/1573072110989903\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/2014-01-02.csv\",\n
        \"name\": \"2014-01-02.csv\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1573072110989903\",\n \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:28:30.989Z\",\n
        \"updated\": \"2019-11-06T20:28:30.989Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:28:30.989Z\",\n \"size\": \"15\",\n
        \"md5Hash\": \"cGwL6TebGKiJzgyNBJNb6Q==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/2014-01-02.csv?generation=1573072110989903&alt=media\",\n
        \"crc32c\": \"Mpt4QQ==\",\n \"etag\": \"CM/khqO21uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CM/khqO21uUCEAE=
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'name,amount,id

      Dennis,400,4

      Edith,500,5

      Frank,600,6

'
    headers:
      Content-Range:
      - bytes 0-51/52
      Content-Type:
      - application/octet-stream
[...]
