interactions:
- request:
    body: '{"name": "gcsfs-testing"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/storage/v1/b/?predefinedAcl=publicReadWrite&predefinedDefaultObjectAcl=authenticatedread&project=test_project
  response:
    body:
      string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"conflict\",\n    \"message\": \"You already own this bucket.
        Please select another name.\"\n   }\n  ],\n  \"code\": 409,\n  \"message\":
        \"You already own this bucket. Please select another name.\"\n }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 409
      message: Conflict
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fa
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 404,\n    \"message\": \"No such object:
        gcsfs-testing/tmp/test/a\",\n    \"errors\": [\n      {\n        \"message\":
        \"No such object: gcsfs-testing/tmp/test/a\",\n        \"domain\": \"global\",\n
        \       \"reason\": \"notFound\"\n      }\n    ]\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fb
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 404,\n    \"message\": \"No such object:
        gcsfs-testing/tmp/test/b\",\n    \"errors\": [\n      {\n        \"message\":
        \"No such object: gcsfs-testing/tmp/test/b\",\n        \"domain\": \"global\",\n
        \       \"reason\": \"notFound\"\n      }\n    ]\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fc
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 404,\n    \"message\": \"No such object:
        gcsfs-testing/tmp/test/c\",\n    \"errors\": [\n      {\n        \"message\":
        \"No such object: gcsfs-testing/tmp/test/c\",\n        \"domain\": \"global\",\n
        \       \"reason\": \"notFound\"\n      }\n    ]\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fd
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 404,\n    \"message\": \"No such object:
        gcsfs-testing/tmp/test/d\",\n    \"errors\": [\n      {\n        \"message\":
        \"No such object: gcsfs-testing/tmp/test/d\",\n        \"domain\": \"global\",\n
        \       \"reason\": \"notFound\"\n      }\n    ]\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
- request:
    body: '{"name": "tmp/test/a", "metadata": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&upload_id=AEnB2Up4KADhY09Yv7aQSxQzygBi1_Ff9AqnQQRFITA04ZZvKrbf70IgZx-OrZvXLQMHfhCQh-4s3IwjnE2S9NRBh5-xXccTwg
    status:
      code: 200
      message: OK
- request:
    body: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    headers:
      Content-Range:
      - bytes 0-99/100
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2Up4KADhY09Yv7aQSxQzygBi1_Ff9AqnQQRFITA04ZZvKrbf70IgZx-OrZvXLQMHfhCQh-4s3IwjnE2S9NRBh5-xXccTwg
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/tmp/test/a/1573072241691196\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fa\",\n
        \"name\": \"tmp/test/a\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1573072241691196\",\n \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:30:41.691Z\",\n
        \"updated\": \"2019-11-06T20:30:41.691Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:30:41.691Z\",\n \"size\": \"100\",\n
        \"md5Hash\": \"NqksyUqeD6IfYl+L+wB63w==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fa?generation=1573072241691196&alt=media\",\n
        \"crc32c\": \"XqOtmQ==\",\n \"etag\": \"CLyUsOG21uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CLyUsOG21uUCEAE=
    status:
      code: 200
      message: OK
[...]
- request:
    body: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    headers:
      Content-Range:
      - bytes 0-99/100
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2UoYddvlAGl_8C3IfyOqIHiGVnrg4V1-ealpHZF_3CENVfiXnvvQTctJjHXatWHq8LgnFK0Z6eFRnLVyE09hagjHMvlrDg
  response:
    body:
      [...]
- request:
    body: '{"sourceObjects": [{"name": "tmp/test/a"}, {"name": "tmp/test/b"}], "kind":
      "storage#composeRequest", "destination": {"name": "joined", "bucket": "gcsfs-testing"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/joined/compose
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/joined/1573072242945615\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/joined\",\n
        \"name\": \"joined\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\": \"1573072242945615\",\n
        \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:30:42.945Z\",\n
        \"updated\": \"2019-11-06T20:30:42.945Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:30:42.945Z\",\n \"size\": \"200\",\n
        \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/joined?generation=1573072242945615&alt=media\",\n
        \"crc32c\": \"UBN+cw==\",\n \"componentCount\": 2,\n \"etag\": \"CM/c/OG21uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CM/c/OG21uUCEAE=
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"prefixes\": [\n    \"tmp/\"\n
        \ ],\n  \"items\": [\n    {\n      \"kind\": \"storage#object\",\n      \"id\":
        \"gcsfs-testing/joined/1573072242945615\",\n      \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/joined\",\n
        \     \"name\": \"joined\",\n      \"bucket\": \"gcsfs-testing\",\n      \"generation\":
        \"1573072242945615\",\n      \"metageneration\": \"1\",\n      \"storageClass\":
        \"MULTI_REGIONAL\",\n      \"size\": \"200\",\n      \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/joined?generation=1573072242945615&alt=media\",\n
        \     \"crc32c\": \"UBN+cw==\",\n      \"componentCount\": 2,\n      \"etag\":
        \"CM/c/OG21uUCEAE=\",\n      \"timeCreated\": \"2019-11-06T20:30:42.945Z\",\n
        \     \"updated\": \"2019-11-06T20:30:42.945Z\",\n      \"timeStorageClassUpdated\":
        \"2019-11-06T20:30:42.945Z\"\n    }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=tmp
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"prefixes\": [\n    \"tmp/\"\n
        \ ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=tmp%2F
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"prefixes\": [\n    \"tmp/test/\"\n
        \ ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=tmp%2Ftest
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"prefixes\": [\n    \"tmp/test/\"\n
        \ ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=tmp%2Ftest%2F
  response:
    body:
      string: "{\n \"kind\": \"storage#objects\",\n \"items\": [\n  {\n   \"kind\":
        \"storage#object\",\n   \"id\": \"gcsfs-testing/tmp/test/a/1573072241691196\",\n
        \  \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fa\",\n
        \  \"name\": \"tmp/test/a\",\n   \"buc[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/joined
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fb
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
