interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/?project=test_project
  response:
    body: {string: "{\n \"kind\": \"storage#buckets\",\n \"items\": [\n  {\n   \"kind\":
        \"storage#bucket\",\n   \"id\": \"anaconda-enterprise\",\n   \"selfLink\":
        \"https://www.googleapis.com/storage/v1/b/anaconda-enterprise\",\n   \"projectNumber\":
        \"586241054156\",\n   \"name\": \"anaconda-enterprise\",\n   \"timeCreated\":
        \"2017-07-05T23:53:06.552Z\",\n   \"updated\": \"2017-07-14T17:39:54.178Z\",\n
        \  \"metageneration\": \"3\",\n   \"location\": \"US\",\n   \"storageClass\":
        \"MULTI_REGIONAL\",\n   \"etag\": \"CAM=\"\n  },\n  {\n   \"kind\": \"storage#bucket\",\n
        \  \"id\": \"anaconda-public-data\",\n   \"selfLink\": \"https://www.googleapis.com/storage/v1/b/anaconda-public-data\",\n
        \  \"projectNumber\": \"586241054156\",\n   \"name\": \"anaconda-public-data\",\n
        \  \"timeCreated\": \"2017-04-05T20:22:12.865Z\",\n   \"updated\": \"2017-07-10T16:32:07.980Z\",\n
        \  \"metageneration\": \"2\",\n   \"location\": \"US\",\n   \"storageClass\":
        \"MULTI_REGIONAL\",\n[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fa
  response:
    body: {string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"notFound\",\n    \"message\": \"No such object: gcsfs-testing/tmp/test/a\"\n
        \  }\n  ],\n  \"code\": 404,\n  \"message\": \"No such object: gcsfs-testing/tmp/test/a\"\n
        }\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fb
  response:
    body: {string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"notFound\",\n    \"message\": \"No such object: gcsfs-testing/tmp/test/b\"\n
        \  }\n  ],\n  \"code\": 404,\n  \"message\": \"No such object: gcsfs-testing/tmp/test/b\"\n
        }\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fc
  response:
    body: {string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"notFound\",\n    \"message\": \"No such object: gcsfs-testing/tmp/test/c\"\n
        \  }\n  ],\n  \"code\": 404,\n  \"message\": \"No such object: gcsfs-testing/tmp/test/c\"\n
        }\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fd
  response:
    body: {string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"notFound\",\n    \"message\": \"No such object: gcsfs-testing/tmp/test/d\"\n
        \  }\n  ],\n  \"code\": 404,\n  \"message\": \"No such object: gcsfs-testing/tmp/test/d\"\n
        }\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 404, message: Not Found}
- request:
    body: '--==0==

      Content-Type: application/json; charset=UTF-8


      {"name": "mapping/x"}

      --==0==

      Content-Type: application/octet-stream


      123

      --==0==--'
    headers:
      Content-Type: [multipart/related; boundary="==0=="]
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=multipart
  response:
    body: {string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/mapping/x/1541774833205768\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/mapping%2Fx\",\n
        \"name\": \"mapping/x\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1541774833205768\",\n \"metageneration\": \"1\",\n \"contentType\": \"application/octet-stream\",\n
        \"timeCreated\": \"2018-11-09T14:47:13.205Z\",\n \"updated\": \"2018-11-09T14:47:13.205Z\",\n
        \"storageClass\": \"STANDARD\",\n \"timeStorageClassUpdated\": \"2018-11-09T14:47:13.205Z\",\n
        \"size\": \"3\",\n \"md5Hash\": \"ICy5YqxZB1uWSwcVLSNLcA==\",\n \"mediaLink\":
        \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/mapping%2Fx?generation=1541774833205768&alt=media\",\n
        \"crc32c\": \"EHsvsg==\",\n \"etag\": \"CIiEh+rGx94CEAE=\"\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      ETag: [CIiEh+rGx94CEAE=]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=mapping%2F
  response:
    body: {string: "{\n \"kind\": \"storage#objects\",\n \"items\": [\n  {\n   \"kind\":
        \"storage#object\",\n   \"id\": \"gcsfs-testing/mapping/x/1541774833205768\",\n
        \  \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/mapping%2Fx\",\n
        \  \"name\": \"mapping/x\",\n   \"bucket\": \"gcsfs-testing\",\n   \"generation\":
        \"1541774833205768\",\n   \"metageneration\": \"1\",\n   \"contentType\":
        \"application/octet-stream\",\n   \"timeCreated\": \"2018-11-09T14:47:13.205Z\",\n
        \  \"updated\": \"2018-11-09T14:47:13.205Z\",\n   \"storageClass\": \"STANDARD\",\n
        \  \"timeStorageClassUpdated\": \"2018-11-09T14:47:13.205Z\",\n   \"size\":
        \"3\",\n   \"md5Hash\": \"ICy5YqxZB1uWSwcVLSNLcA==\",\n   \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/mapping%2Fx?generation=1541774833205768&alt=media\",\n
        \  \"crc32c\": \"EHsvsg==\",\n   \"etag\": \"CIiEh+rGx94CEAE=\"\n  }\n ]\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/mapping
  response:
    body: {string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"notFound\",\n    \"message\": \"No such object: gcsfs-testing/mapping\"\n
        \  }\n  ],\n  \"code\": 404,\n  \"message\": \"No such object: gcsfs-testing/mapping\"\n
        }\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F
  response:
    body: {string: "{\n \"kind\": \"storage#objects\",\n \"prefixes\": [\n  \"mapping/\"\n
        ]\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/mapping%2Fx?alt=media
  response:
    body: {string: '123'}
    headers:
      Content-Disposition: [attachment]
      Content-Type: [application/octet-stream]
      ETag: [CIiEh+rGx94CEAE=]
      X-Goog-Generation: ['1541774833205768']
      X-Goog-Hash: ['crc32c=EHsvsg==,md5=ICy5YqxZB1uWSwcVLSNLcA==']
      X-Goog-Metageneration: ['1']
      X-Goog-Storage-Class: [STANDARD]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/mapping%2Fy?alt=media
  response:
    body: {string: '456'}
    headers:
      Content-Disposition: [attachment]
      Content-Type: [application/octet-stream]
      ETag: [CICv5uvGx94CEAE=]
      X-Goog-Generation: ['1541774836864896']
      X-Goog-Hash: ['crc32c=ZHjEjw==,md5=JQz4tRx3Pz+NyLS+hnqaAg==']
      X-Goog-Metageneration: ['1']
      X-Goog-Storage-Class: [STANDARD]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/mapping%2Fx
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json]
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/mapping%2Fy
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json]
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/mapping
  response:
    body: {string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"notFound\",\n    \"message\": \"No such object: gcsfs-testing/mapping\"\n
        \  }\n  ],\n  \"code\": 404,\n  \"message\": \"No such object: gcsfs-testing/mapping\"\n
        }\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 404, message: Not Found}
version: 1
