interactions:
- request:
    body: '{"name": "gcsfs-testing"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/storage/v1/b/?predefinedAcl=publicReadWrite&predefinedDefaultObjectAcl=authenticatedread&project=test_project
  response:
    body:
      string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"conflict\",\n    \"message\": \"You already own this bucket.
        Please select another name.\"\n   }\n  ],\n  \"code\": 409,\n  \"message\":
        \"You already own this bucket. Please select another name.\"\n }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 409
      message: Conflict
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fa
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 404,\n    \"message\": \"No such object:
        gcsfs-testing/tmp/test/a\",\n    \"errors\": [\n      {\n        \"message\":
        \"No such object: gcsfs-testing/tmp/test/a\",\n        \"domain\": \"global\",\n
        \       \"reason\": \"notFound\"\n      }\n    ]\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fb
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 404,\n    \"message\": \"No such object:
        gcsfs-testing/tmp/test/b\",\n    \"errors\": [\n      {\n        \"message\":
        \"No such object: gcsfs-testing/tmp/test/b\",\n        \"domain\": \"global\",\n
        \       \"reason\": \"notFound\"\n      }\n    ]\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fc
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 404,\n    \"message\": \"No such object:
        gcsfs-testing/tmp/test/c\",\n    \"errors\": [\n      {\n        \"message\":
        \"No such object: gcsfs-testing/tmp/test/c\",\n        \"domain\": \"global\",\n
        \       \"reason\": \"notFound\"\n      }\n    ]\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fd
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 404,\n    \"message\": \"No such object:
        gcsfs-testing/tmp/test/d\",\n    \"errors\": [\n      {\n        \"message\":
        \"No such object: gcsfs-testing/tmp/test/d\",\n        \"domain\": \"global\",\n
        \       \"reason\": \"notFound\"\n      }\n    ]\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
- request:
    body: '{"name": "test/accounts.1.json", "metadata": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&upload_id=AEnB2UplCzLn5MqPayg3Td-LLcmDmABw7lyY-v9GzHD-Au4QQ8EOWVF0THpfBC0DW4LMgTf1NqrSaFICuNvf78e7nAKYI1EE_g
    status:
      code: 200
      message: OK
- request:
    body: '{"amount": 100, "name": "Alice"}

      {"amount": 200, "name": "Bob"}

      {"amount": 300, "name": "Charlie"}

      {"amount": 400, "name": "Dennis"}

'
    headers:
      Content-Range:
      - bytes 0-132/133
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2UplCzLn5MqPayg3Td-LLcmDmABw7lyY-v9GzHD-Au4QQ8EOWVF0THpfBC0DW4LMgTf1NqrSaFICuNvf78e7nAKYI1EE_g
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/test/accounts.1.json/1573073316418051\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/test%2Faccounts.1.json\",\n
        \"name\": \"test/accounts.1.json\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1573073316418051\",\n \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:48:36.417Z\",\n
        \"updated\": \"2019-11-06T20:48:36.417Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:48:36.417Z\",\n \"size\": \"133\",\n
        \"md5Hash\": \"xK7pmJz/Oj5HGIyfQpYTig==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/test%2Faccounts.1.json?generation=1573073316418051&alt=media\",\n
        \"crc32c\": \"6wJAgQ==\",\n \"etag\": \"CIOk7OG61uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CIOk7OG61uUCEAE=
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"amount": 500, "name": "Alice"}

      {"amount": 600, "name": "Bob"}

      {"amount": 700, "name": "Charlie"}

      {"amount": 800, "name": "Dennis"}

'
    headers:
      Content-Range:
      - bytes 0-132/133
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2UpCItbNxIB1fSH769BWju0OBGP5J89rODSzVd4b9L_F_X27XFWm61GNEAeIfnGIy[...]
[...]
- request:
    body: 'name,amount,id

      Alice,100,1

      Bob,200,2

      Charlie,300,3

'
    headers:
      Content-Range:
      - bytes 0-50/51
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2UpUlsGH-O7lDKvldRAOPplDs21VF5y-QJ-4avzG9p5hdlPRNDXY3LtISOrC3yn1MP5VFlydfelQ_ZNDFZD95f4Kp4K90w
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/2014-01-01.csv/1573073318144256\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/2014-01-01.csv\",\n
        \"name\": \"2014-01-01.csv\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1573073318144256\",\n \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:48:38.143Z\",\n
        \"updated\": \"2019-11-06T20:48:38.143Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:48:38.143Z\",\n \"size\": \"51\",\n
        \"md5Hash\": \"Auycd2AT7x5m8G1W0NXcuA==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/2014-01-01.csv?generation=1573073318144256&alt=media\",\n
        \"crc32c\": \"yR1u0w==\",\n \"etag\": \"CIDS1eK61uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CIDS1eK61uUCEAE=
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'name,amount,id

'
    headers:
      Content-Range:
      - bytes 0-14/15
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2UqrKIE22HjtlcSFLyLcKB1OkG4vGTXUwY7vC5xLnNa-lPyjgPIHPUs5CH_ImSKR3LTH0HEBT5ZPhEJuAQn0KWTTbsVRwQ
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/2014-01-02.csv/1573073318852215\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/2014-01-02.csv\",\n
        \"name\": \"2014-01-02.csv\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1573073318852215\",\n \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:48:38.852Z\",\n
        \"updated\": \"2019-11-06T20:48:38.852Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:48:38.852Z\",\n \"size\": \"15\",\n
        \"md5Hash\": \"cGwL6TebGKiJzgyNBJNb6Q==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/2014-01-02.csv?generation=1573073318852215&alt=media\",\n
        \"crc32c\": \"Mpt4QQ==\",\n \"etag\": \"CPfsgOO61uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CPfsgOO61uUCEAE=
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'name,amount,id

      Dennis,400,4

      Edith,500,5

      Frank,600,6

'
    headers:
      Content-Range:
      - bytes 0-51/52
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2Uopj5adpheCDJFtrsT0dORFiVTU0TCXVOLvqf5YVFfJaO435NKPpU8czpjns9PtOjdrrznmukthh0aE5wUO8DNzZgdWMw
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/2014-01-03.csv/1573073319905088\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/2014-01-03.csv\",\n
        \"name\": \"2014-01-03.csv\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1573073319905088\",\n \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:48:39.904Z\",\n
        \"updated\": \"2019-11-06T20:48:39.904Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:48:39.904Z\",\n \"size\": \"52\",\n
        \"md5Hash\": \"9keZXdUu0YtMynECFSOiMg==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/2014-01-03.csv?generation=1573073319905088&alt=media\",\n
        \"crc32c\": \"x/fq7w==\",\n \"etag\": \"CMCOweO61uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CMCOweO61uUCEAE=
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'hello

'
    headers:
      Content-Range:
      - bytes 0-5/6
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2UpYI1rTSO0uUF5lvTfh8iDPNeSfC9_UYyne9x1_CAY8AU3QVo6-M1Eyo9M5xY_PBHvoVqjKoMtro8S0QedLHGMyX4jOzA
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/nested/file1/1573073321057574\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/nested%2Ffile1\",\n
        \"name\": \"nested/file1\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1573073321057574\",\n \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:48:41.057Z\",\n
        \"updated\": \"2019-11-06T20:48:41.057Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:48:41.057Z\",\n \"size\": \"6\",\n
        \"md5Hash\": \"sZRqySSS0jR8YjW00mERhA==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/nested%2Ffile1?generation=1573073321057574&alt=media\",\n
        \"crc32c\": \"NT3Yvg==\",\n \"etag\": \"CKa6h+S61uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CKa6h+S61uUCEAE=
    status:
      code: 200
      message: OK
[...]
- request:
    body: world
    headers:
      Content-Range:
      - bytes 0-4/5
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2Uo-dFMiVxZ9FYxJ41knBh63c4OHK_OdtYCIDZbe0og2n8yLSDV4cxCeRV09A2yjWGAvpGRER-UJxnX1ipcQcyw1ojiHEw
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/nested/file2/1573073321684859\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/nested%2Ffile2\",\n
        \"name\": \"nested/file2\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1573073321684859\",\n \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:48:41.684Z\",\n
        \"updated\": \"2019-11-06T20:48:41.684Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:48:41.684Z\",\n \"size\": \"5\",\n
        \"md5Hash\": \"fXkwN6B2AYZXSwKC8vQ15w==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/nested%2Ffile2?generation=1573073321684859&alt=media\",\n
        \"crc32c\": \"MaqBTg==\",\n \"etag\": \"CPvereS61uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CPvereS61uUCEAE=
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'hello

'
    headers:
      Content-Range:
      - bytes 0-5/6
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2UojalBMqFG-D1jlc7os3lugg_P7J1wuElIUh-TsbqH20AL5TqICeaPsS56tEXtsqRerkK1KSWZ6SfIdpZqF-PeFUj5Z_Q
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/nested/nested2/file1/1573073322563640\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/nested%2Fnested2%2Ffile1\",\n
        \"name\": \"nested/nested2/file1\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1573073322563640\",\n \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:48:42.563Z\",\n
        \"updated\": \"2019-11-06T20:48:42.563Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:48:42.563Z\",\n \"size\": \"6\",\n
        \"md5Hash\": \"sZRqySSS0jR8YjW00mERhA==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/nested%2Fnested2%2Ffile1?generation=1573073322563640&alt=media\",\n
        \"crc32c\": \"NT3Yvg==\",\n \"etag\": \"CLiw4+S61uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CLiw4+S61uUCEAE=
    status:
      code: 200
      message: OK
[...]
- request:
    body: world
    headers:
      Content-Range:
      - bytes 0-4/5
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2UqXWSgKoc63W3M7Ss_5g0x2AgCBL8zhrXdAmZLgyJGQvzI5ipVY3cBetDmLS2X6vtoIP0jhDgktAdWGn4Ax6GvAj5uD6A
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/nested/nested2/file2/1573073323536456\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/nested%2Fnested2%2Ffile2\",\n
        \"name\": \"nested/nested2/file2\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1573073323536456\",\n \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:48:43.536Z\",\n
        \"updated\": \"2019-11-06T20:48:43.536Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:48:43.536Z\",\n \"size\": \"5\",\n
        \"md5Hash\": \"fXkwN6B2AYZXSwKC8vQ15w==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/nested%2Fnested2%2Ffile2?generation=1573073323536456&alt=media\",\n
        \"crc32c\": \"MaqBTg==\",\n \"etag\": \"CMjgnuW61uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CMjgnuW61uUCEAE=
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"prefixes\": [\n    \"nested/\",\n
        \   \"test/\"\n  ],\n  \"items\": [\n    {\n      \"kind\": \"storage#object\",\n
        \     \"id\": \"gcsfs-testing/2014-01-01.csv/1573073318144256\",\n      \"selfLink\":
        \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/2014-01-01.csv\",\n
        \     \"name\": \"2014-01-01.csv\",\n      \"bucket\": \"gcsfs-testing\",\n
        \     \"generation\": \"1573073318144256\",\n      \"metageneration\": \"1\",\n
        \     \"storageClass\": \"MULTI_REGIONAL\",\n      \"size\": \"51\",\n      \"md5Hash\":
  [...]
- request:
    body: null
    headers:
      Range:
      - bytes=0-22
    method: GET
    uri: https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/2014-01-01.csv?alt=media&generation=1573073318144256
  response:
    body:
      string: 'name,amount,id

        Alice,10'
    headers:
      Content-Disposition:
      - attachment
      Content-Range:
      - bytes 0-22/51
      Content-Type:
      - application/octet-stream
      ETag:
      - CIDS1eK61uUCEAE=
      X-Goog-Generation:
      - '1573073318144256'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Storage-Class:
      - MULTI_REGIONAL
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=nested
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"prefixes\": [\n    \"nested/\"\n
        \ ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=nested%2F
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"prefixes\": [\n    \"nested/nested2/\"\n
        \ ],\n  \"items\": [\n    {\n      \"kind\": \"storage#object\",\n      \"id\":
        \"gcsfs-testing/nested/file1/1573073321057574\",\n      \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/neste[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=nested%2Fnested2
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"prefixes\": [\n    \"nested/nested2/\"\n
        \ ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=nested%2Fnested2%2F
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"items\": [\n    {\n      \"kind\":
        \"storage#object\",\n      \"id\": \"gcsfs-testing/nested/nested2/file1/1573073322563640\",\n
        \     \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/nested%2Fnested2%2Ffile1\",\n
       [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=test
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"prefixes\": [\n    \"test/\"\n
        \ ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=test%2F
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"items\": [\n    {\n      \"kind\":
        \"storage#object\",\n      \"id\": \"gcsfs-testing/test/accounts.1.json/1573073316418051\",\n
        \     \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/test%2Faccounts.1.json\",\n
        \     \"name\[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/2014-01-01.csv
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/nested%2Ffile1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/nested%2Fnested2%2Ffile1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/test%2Faccounts.1.json
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/test%2Faccounts.2.json
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
