interactions:
- request:
    body: '{"name": "gcsfs-testing"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/storage/v1/b/?predefinedAcl=publicReadWrite&predefinedDefaultObjectAcl=authenticatedread&project=test_project
  response:
    body:
      string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"conflict\",\n    \"message\": \"You already own this bucket.
        Please select another name.\"\n   }\n  ],\n  \"code\": 409,\n  \"message\":
        \"You already own this bucket. Please select another name.\"\n }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 409
      message: Conflict
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fa
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 404,\n    \"message\": \"No such object:
        gcsfs-testing/tmp/test/a\",\n    \"errors\": [\n      {\n        \"message\":
        \"No such object: gcsfs-testing/tmp/test/a\",\n        \"domain\": \"global\",\n
        \       \"reason\": \"notFound\"\n      }\n    ]\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fb
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 404,\n    \"message\": \"No such object:
        gcsfs-testing/tmp/test/b\",\n    \"errors\": [\n      {\n        \"message\":
        \"No such object: gcsfs-testing/tmp/test/b\",\n        \"domain\": \"global\",\n
        \       \"reason\": \"notFound\"\n      }\n    ]\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fc
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 404,\n    \"message\": \"No such object:
        gcsfs-testing/tmp/test/c\",\n    \"errors\": [\n      {\n        \"message\":
        \"No such object: gcsfs-testing/tmp/test/c\",\n        \"domain\": \"global\",\n
        \       \"reason\": \"notFound\"\n      }\n    ]\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fd
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 404,\n    \"message\": \"No such object:
        gcsfs-testing/tmp/test/d\",\n    \"errors\": [\n      {\n        \"message\":
        \"No such object: gcsfs-testing/tmp/test/d\",\n        \"domain\": \"global\",\n
        \       \"reason\": \"notFound\"\n      }\n    ]\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
- request:
    body: '{"name": "tmp/test/a", "metadata": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&upload_id=AEnB2UoxY7xPVtQJV8_RkANbcZe2G7A2m39EkqmGiUB7Pthffa8peE007sRY7felq7KaymJn6pcJkgdM9DY3Ecr6hp_XCqHedQ
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Range:
      - bytes */0
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2UoxY7xPVtQJV8_RkANbcZe2G7A2m39EkqmGiUB7Pthffa8peE007sRY7felq7KaymJn6pcJkgdM9DY3Ecr6hp_XCqHedQ
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/tmp/test/a/1573073252005089\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fa\",\n
        \"name\": \"tmp/test/a\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1573073252005089\",\n \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:47:32.004Z\",\n
        \"updated\": \"2019-11-06T20:47:32.004Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:47:32.004Z\",\n \"size\": \"0\",\n
        \"md5Hash\": \"1B2M2Y8AsgTpgAmY7PhCfg==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fa?generation=1573073252005089&alt=media\",\n
        \"crc32c\": \"AAAAAA==\",\n \"etag\": \"COHpkMO61uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - COHpkMO61uUCEAE=
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=tmp%2Ftest
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"prefixes\": [\n    \"tmp/test/\"\n
        \ ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=tmp%2Ftest%2F
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"items\": [\n    {\n      \"kind\":
        \"storage#object\",\n      \"id\": \"gcsfs-testing/tmp/test/a/1573073252005089\",\n
        \     \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fa\",\n
        \     \"name\": \"tmp/test/a\",\n      \"bucket\": \"gcsfs-testing\",\n      \"generation\":
        \"1573073252005089\",\n      \"metageneration\": \"1\",\n      \"storageClass\":
        \"MULTI_REGIONAL\",\n      \"size\": \"0\",\n      \"md5Hash\": \"1B2M2Y8AsgTpgAmY7PhCfg==\",\n
        \     \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fa?generation=1573073252005089&alt=media\",\n
        \     \"crc32c\": \"AAAAAA==\",\n      \"etag\": \"COHpkMO61uUCEAE=\",\n      \"timeCreated\":
        \"2019-11-06T20:47:32.004Z\",\n      \"updated\": \"2019-11-06T20:47:32.004Z\",\n
        \     \"timeStorageClassUpdated\": \"2019-11-06T20:47:32.004Z\"\n    }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=tmp%2Ftest%2Fb
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=tmp%2Ftest%2Fb%2F
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: abc
    headers:
      Content-Range:
      - bytes 0-2/3
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2Uo7rL4yuEYUQ1lOG_YpHbFO6LcT5r4GPyj53Pc1FsG72yyv-oFKsdX_UBsY0F--GE40by4pEiuWBWGrfjIGEMUU5hw7qg
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/tmp/test/b/1573073253201991\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fb\",\n
        \"name\": \"tmp/test/b\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1573073253201991\",\n \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:47:33.201Z\",\n
        \"updated\": \"2019-11-06T20:47:33.201Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:47:33.201Z\",\n \"size\": \"3\",\n
        \"md5Hash\": \"kAFQmDzST7DWlj99KOF/cg==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fb?generation=1573073253201991&alt=media\",\n
        \"crc32c\": \"Nks/tw==\",\n \"etag\": \"CMfw2cO61uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CMfw2cO61uUCEAE=
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"prefixes\": [\n    \"tmp/\"\n
        \ ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=tmp
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"prefixes\": [\n    \"tmp/\"\n
        \ ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=tmp%2F
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"prefixes\": [\n    \"tmp/test/\"\n
        \ ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fb
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
