interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/?project=test_project
  response:
    body: {string: "{\n \"kind\": \"storage#buckets\",\n \"items\": [\n  {\n   \"kind\":
        \"storage#bucket\",\n   \"id\": \"anaconda-enterprise\",\n   \"selfLink\":
        \"https://www.googleapis.com/storage/v1/b/anaconda-enterprise\",\n   \"projectNumber\":
        \"586241054156\",\n   \"name\": \"anaconda-enterprise\",\n   \"timeCreated\":
        \"2017-07-05T23:53:06.552Z\",\n   \"updated\": \"2017-07-14T17:39:54.178Z\",\n
        \  \"metageneration\": \"3\",\n   \"location\": \"US\",\n   \"storageClass\":
        \"MULTI_REGIONAL\",\n   \"etag\": \"CAM=\"\n  },\n  {\n   \"kind\": \"storage#bucket\",\n
        \  \"id\": \"anaconda-public-data\",\n   \"selfLink\": \"https://www.googleapis.com/storage/v1/b/anaconda-public-data\",\n
        \  \"projectNumber\": \"586241054156\",\n   \"name\": \"anaconda-public-data\",\n
        \  \"timeCreated\": \"2017-04-05T20:22:12.865Z\",\n   \"updated\": \"2017-07-10T16:32:07.980Z\",\n
        \  \"metageneration\": \"2\",\n   \"location\": \"US\",\n   \"storageClass\":
        \"MULTI_REGIONAL\",\n[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fa
  response:
    body: {string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"notFound\",\n    \"message\": \"No such object: gcsfs-testing/tmp/test/a\"\n
        \  }\n  ],\n  \"code\": 404,\n  \"message\": \"No such object: gcsfs-testing/tmp/test/a\"\n
        }\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fb
  response:
    body: {string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"notFound\",\n    \"message\": \"No such object: gcsfs-testing/tmp/test/b\"\n
        \  }\n  ],\n  \"code\": 404,\n  \"message\": \"No such object: gcsfs-testing/tmp/test/b\"\n
        }\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fc
  response:
    body: {string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"notFound\",\n    \"message\": \"No such object: gcsfs-testing/tmp/test/c\"\n
        \  }\n  ],\n  \"code\": 404,\n  \"message\": \"No such object: gcsfs-testing/tmp/test/c\"\n
        }\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fd
  response:
    body: {string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"notFound\",\n    \"message\": \"No such object: gcsfs-testing/tmp/test/d\"\n
        \  }\n  ],\n  \"code\": 404,\n  \"message\": \"No such object: gcsfs-testing/tmp/test/d\"\n
        }\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F
  response:
    body: {string: "{\n \"kind\": \"storage#objects\"\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
