interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/?project=test_project
  response:
    body:
      string: "{\n  \"kind\": \"storage#buckets\",\n  \"items\": [\n    {\n      \"kind\":
        \"storage#bucket\",\n      \"id\": \"anaconda-flights\",\n      \"selfLink\":
        \"https://www.googleapis.com/storage/v1/b/anaconda-flights\",\n      \"projectNumber\":
        \"335349516259\",\n      \"name\": \"anaconda-flights\",\n      \"metageneration\":
        \"9\",\n      \"location\": \"US-CENTRAL1\",\n      \"defaultEventBasedHold\":
        false,\n      \"storageClass\": \"STANDARD\",\n      \"etag\": \"CAk=\",\n
        \     \"iamConfiguration\": {\n        \"bucketPolicyOnly\": {\n          \"enabled\":
        true,\n          \"lockedTime\": \"2019-12-31T14:32:56.417Z\"\n        },\n
        \       \"uniformBucketLevelAccess\": {\n          \"enabled\": true,\n          \"lockedTime\":
        \"2019-12-31T14:32:56.417Z\"\n        }\n      },\n      \"locationType\":
        \"region\",\n      \"timeCreated\": \"2019-10-02T13:55:35.896Z\",\n      \"updated\":
        \"2019-11-08T22:34:17.727Z\"\n    },\n    {\n      \"kind\": \"storage#bucket\",\n
        \     \"id\": \"artifacts.test_project.appspot.com\",\n      \"selfLink\":
        \"https://www.googleapis.com/storage/v1/b/artifacts.test_project.appspot.com\",\n
        \     \"projectNumber\": \"335349516259\",\n      \"name\": \"artifacts.test_project.appspot.com\",\n
        \     \"metageneration\": \"1\",\n      \"location\": \"US\",\n      \"storageClass\":
        \"STANDARD\",\n      \[...]
[...]
