interactions:
- request:
    body: '{"name": "gcsfs-testing"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/storage/v1/b/?predefinedAcl=publicReadWrite&predefinedDefaultObjectAcl=authenticatedread&project=test_project
  response:
    body:
      string: "{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n
        \   \"reason\": \"conflict\",\n    \"message\": \"You already own this bucket.
        Please select another name.\"\n   }\n  ],\n  \"code\": 409,\n  \"message\":
        \"You already own this bucket. Please select another name.\"\n }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 409
      message: Conflict
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fa
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 404,\n    \"message\": \"No such object:
        gcsfs-testing/tmp/test/a\",\n    \"errors\": [\n      {\n        \"message\":
        \"No such object: gcsfs-testing/tmp/test/a\",\n        \"domain\": \"global\",\n
        \       \"reason\": \"notFound\"\n      }\n    ]\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fb
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 404,\n    \"message\": \"No such object:
        gcsfs-testing/tmp/test/b\",\n    \"errors\": [\n      {\n        \"message\":
        \"No such object: gcsfs-testing/tmp/test/b\",\n        \"domain\": \"global\",\n
        \       \"reason\": \"notFound\"\n      }\n    ]\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fc
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 404,\n    \"message\": \"No such object:
        gcsfs-testing/tmp/test/c\",\n    \"errors\": [\n      {\n        \"message\":
        \"No such object: gcsfs-testing/tmp/test/c\",\n        \"domain\": \"global\",\n
        \       \"reason\": \"notFound\"\n      }\n    ]\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/tmp%2Ftest%2Fd
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 404,\n    \"message\": \"No such object:
        gcsfs-testing/tmp/test/d\",\n    \"errors\": [\n      {\n        \"message\":
        \"No such object: gcsfs-testing/tmp/test/d\",\n        \"domain\": \"global\",\n
        \       \"reason\": \"notFound\"\n      }\n    ]\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
- request:
    body: '{"name": "test/accounts.1.json", "metadata": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&upload_id=AEnB2Uozf4f1jPu9alkkw5Xgfexm1y3Xkj25m1tj3RDH64FhFupBqn1vV4qRotwSOjuyw8J8F2TEYWIOEXCa-mUubkI1VJz1Eg
    status:
      code: 200
      message: OK
- request:
    body: '{"amount": 100, "name": "Alice"}

      {"amount": 200, "name": "Bob"}

      {"amount": 300, "name": "Charlie"}

      {"amount": 400, "name": "Dennis"}

'
    headers:
      Content-Range:
      - bytes 0-132/133
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2Uozf4f1jPu9alkkw5Xgfexm1y3Xkj25m1tj3RDH64FhFupBqn1vV4qRotwSOjuyw8J8F2TEYWIOEXCa-mUubkI1VJz1Eg
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/test/accounts.1.json/1573073148250606\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/test%2Faccounts.1.json\",\n
        \"name\": \"test/accounts.1.json\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1573073148250606\",\n \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:45:48.250Z\",\n
        \"updated\": \"2019-11-06T20:45:48.250Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:45:48.250Z\",\n \"size\": \"133\",\n
        \"md5Hash\": \"xK7pmJz/Oj5HGIyfQpYTig==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/test%2Faccounts.1.json?generation=1573073148250606&alt=media\",\n
        \"crc32c\": \"6wJAgQ==\",\n \"etag\": \"CO6T1JG61uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CO6T1JG61uUCEAE=
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"amount": 500, "name": "Alice"}

      {"amount": 600, "name": "Bob"}

      {"amount": 700, "name": "Charlie"}

      {"amount": 800, "name": "Dennis"}

'
    headers:
      Content-Range:
      - bytes 0-132/133
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2UpD6fbofjzBBKPvubDpjjANEmQf21iWqndHR5wISxHYUQXXKz_fNQT_vcgSiQZm3[...]
[...]
- request:
    body: 'name,amount,id

      Alice,100,1

      Bob,200,2

      Charlie,300,3

'
    headers:
      Content-Range:
      - bytes 0-50/51
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2Uo3v-YL6AjDcBh-y7AOU8NLxAk_tFLQiEp6hQQ5UrGs_v0tYKDUaOJ8C_jXVRBDjehtxFeOHhtGnUHgnO4aztVdItIMUw
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/2014-01-01.csv/1573073149979178\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/2014-01-01.csv\",\n
        \"name\": \"2014-01-01.csv\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1573073149979178\",\n \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:45:49.978Z\",\n
        \"updated\": \"2019-11-06T20:45:49.978Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:45:49.978Z\",\n \"size\": \"51\",\n
        \"md5Hash\": \"Auycd2AT7x5m8G1W0NXcuA==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/2014-01-01.csv?generation=1573073149979178&alt=media\",\n
        \"crc32c\": \"yR1u0w==\",\n \"etag\": \"CKrUvZK61uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CKrUvZK61uUCEAE=
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'name,amount,id

'
    headers:
      Content-Range:
      - bytes 0-14/15
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2UqYtX_dS4pAfifyTnYXSYDMnRLVs_4oIIood2t4-8tTD95JbI1ZhcyTkLIkbwTDZW8T1zUKjR-rPRZ6GFkA_AonS64VSA
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/2014-01-02.csv/1573073150971100\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/2014-01-02.csv\",\n
        \"name\": \"2014-01-02.csv\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1573073150971100\",\n \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:45:50.970Z\",\n
        \"updated\": \"2019-11-06T20:45:50.970Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:45:50.970Z\",\n \"size\": \"15\",\n
        \"md5Hash\": \"cGwL6TebGKiJzgyNBJNb6Q==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/2014-01-02.csv?generation=1573073150971100&alt=media\",\n
        \"crc32c\": \"Mpt4QQ==\",\n \"etag\": \"CNyZ+pK61uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CNyZ+pK61uUCEAE=
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'name,amount,id

      Dennis,400,4

      Edith,500,5

      Frank,600,6

'
    headers:
      Content-Range:
      - bytes 0-51/52
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2UpVFnepd7-2ViXgA6mtLshxJH0d8lT6S4l-hDEa1-tFAwspVSBP45NFqo88X5NGvFxQcRsl8w7ZEoBNEF2dw8xFxnpSEA
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/2014-01-03.csv/1573073151966494\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/2014-01-03.csv\",\n
        \"name\": \"2014-01-03.csv\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1573073151966494\",\n \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:45:51.966Z\",\n
        \"updated\": \"2019-11-06T20:45:51.966Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:45:51.966Z\",\n \"size\": \"52\",\n
        \"md5Hash\": \"9keZXdUu0YtMynECFSOiMg==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/2014-01-03.csv?generation=1573073151966494&alt=media\",\n
        \"crc32c\": \"x/fq7w==\",\n \"etag\": \"CJ76tpO61uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CJ76tpO61uUCEAE=
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'hello

'
    headers:
      Content-Range:
      - bytes 0-5/6
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2Urf5DC7Ipe04XjaVUN0DNp3ndn5nediE9M2dFHWJZ5_RG00owTzqCjE1JhjuEFW9uy4IqHadi4xZI7LODVXDvBt1obwWw
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/nested/file1/1573073153000599\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/nested%2Ffile1\",\n
        \"name\": \"nested/file1\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1573073153000599\",\n \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:45:53.000Z\",\n
        \"updated\": \"2019-11-06T20:45:53.000Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:45:53.000Z\",\n \"size\": \"6\",\n
        \"md5Hash\": \"sZRqySSS0jR8YjW00mERhA==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/nested%2Ffile1?generation=1573073153000599&alt=media\",\n
        \"crc32c\": \"NT3Yvg==\",\n \"etag\": \"CJeJ9pO61uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CJeJ9pO61uUCEAE=
    status:
      code: 200
      message: OK
[...]
- request:
    body: world
    headers:
      Content-Range:
      - bytes 0-4/5
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2UrnZSqpnQT6dwFidxD8kPw4748DNEvZxi-xmCsqdOYwbyuokPkreIt3fwnBhi8roc7ek2I657wzPDDPIRgO47AOMHXvWA
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/nested/file2/1573073154003570\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/nested%2Ffile2\",\n
        \"name\": \"nested/file2\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1573073154003570\",\n \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:45:54.003Z\",\n
        \"updated\": \"2019-11-06T20:45:54.003Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:45:54.003Z\",\n \"size\": \"5\",\n
        \"md5Hash\": \"fXkwN6B2AYZXSwKC8vQ15w==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/nested%2Ffile2?generation=1573073154003570&alt=media\",\n
        \"crc32c\": \"MaqBTg==\",\n \"etag\": \"CPKks5S61uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CPKks5S61uUCEAE=
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'hello

'
    headers:
      Content-Range:
      - bytes 0-5/6
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2UpTFg2ZOqjE_s2fMAgyi9pnyHmA9y9Ja3nPAZMoMPO4mILQgQXQC1KFS46qe0OzqCSoslM7ULDnaIQv-2-pV2NZ_FhzRw
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/nested/nested2/file1/1573073155079849\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/nested%2Fnested2%2Ffile1\",\n
        \"name\": \"nested/nested2/file1\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1573073155079849\",\n \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:45:55.079Z\",\n
        \"updated\": \"2019-11-06T20:45:55.079Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:45:55.079Z\",\n \"size\": \"6\",\n
        \"md5Hash\": \"sZRqySSS0jR8YjW00mERhA==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/nested%2Fnested2%2Ffile1?generation=1573073155079849&alt=media\",\n
        \"crc32c\": \"NT3Yvg==\",\n \"etag\": \"CKn99JS61uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CKn99JS61uUCEAE=
    status:
      code: 200
      message: OK
[...]
- request:
    body: world
    headers:
      Content-Range:
      - bytes 0-4/5
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2Uo1rWv3JXwalad4N1-eHV7zvziyIiBFwsqhM2jEIneOmFAN4uNVUumkkXMO6564SfF_9pdC8r6c0xX8zxygWR_U01KNAQ
  response:
    body:
      string: "{\n \"kind\": \"storage#object\",\n \"id\": \"gcsfs-testing/nested/nested2/file2/1573073156063066\",\n
        \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/nested%2Fnested2%2Ffile2\",\n
        \"name\": \"nested/nested2/file2\",\n \"bucket\": \"gcsfs-testing\",\n \"generation\":
        \"1573073156063066\",\n \"metageneration\": \"1\",\n \"timeCreated\": \"2019-11-06T20:45:56.062Z\",\n
        \"updated\": \"2019-11-06T20:45:56.062Z\",\n \"storageClass\": \"MULTI_REGIONAL\",\n
        \"timeStorageClassUpdated\": \"2019-11-06T20:45:56.062Z\",\n \"size\": \"5\",\n
        \"md5Hash\": \"fXkwN6B2AYZXSwKC8vQ15w==\",\n \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/nested%2Fnested2%2Ffile2?generation=1573073156063066&alt=media\",\n
        \"crc32c\": \"MaqBTg==\",\n \"etag\": \"CNr+sJW61uUCEAE=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - CNr+sJW61uUCEAE=
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=test
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"prefixes\": [\n    \"test/\"\n
        \ ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=test%2F
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"items\": [\n    {\n      \"kind\":
        \"storage#object\",\n      \"id\": \"gcsfs-testing/test/accounts.1.json/1573073148250606\",\n
        \     \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/test%2Faccounts.1.json\",\n
        \     \"name\": \"test/accounts.1.json\",\n      \"bucket\": \"gcsfs-testing\",\n
        \     \"generation\": \"1573073148250606\",\n      \"metageneration\": \"1\",\n
        \     \"storageClass\": \"MULTI_REGIONAL\",\n      \"size\": \"133\",\n[...]
- request:
    body: null
    headers:
      Range:
      - bytes=0-132
    method: GET
    uri: https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/test%2Faccounts.1.json?alt=media&generation=1573073148250606
  response:
    body:
      string: '{"amount": 100, "name": "Alice"}

        {"amount": 200, "name": "Bob"}

        {"amount": 300, "name": "Charlie"}

        {"amount": 400, "name": "Dennis"}

'
    headers:
      Content-Disposition:
      - attachment
      Content-Range:
      - bytes 0-132/133
      Content-Type:
      - application/octet-stream
      ETag:
      - CO6T1JG61uUCEAE=
      X-Goog-Generation:
      - '1573073148250606'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Storage-Class:
      - MULTI_REGIONAL
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: '{"amount": 100, "name": "Alice"}

      {"amount": 200, "name": "Bob"}

      {"amount": 300, "name": "Charlie"}

      {"amount": 400, "name": "Dennis"}

'
    headers:
      Content-Range:
      - bytes 0-132/133
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://www.googleapis.com/upload/storage/v1/b/gcsfs-testing/o?uploadType=resumable&uploadType=resumable&upload_id=AEnB2UrgmaeDMnE2khZttbhYAe1MhPswuGlnV_10fG5Wcp-r02QVAE2DTiNpoJWk3swZb[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=temp
  response:
    body:
      string: "{\n \"kind\": \"storage#objects\",\n \"items\": [\n  {\n   \"kind\":
        \"storage#object\",\n   \"id\": \"gcsfs-testing/temp/1573073157236466\",\n
        \  \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/temp\",\n
        \  \"name\": \"temp\",\n   \"bucket\": \"gcsfs-testing\",\n   \"generation\":
        \"1573073157236466\",\n   \"metageneration\": \"1\",\n   \"timeCreated\":
        \"2019-11-06T20:45:57.236Z\",\n   \"updated\": \"2019-11-06T20:45:57.236Z\",\n
        \  \"storageClass\": \"MULTI_REGIONAL\",\n   \"timeStorageClassUpdated\":
        \"2019-11-06T20:45:57.236Z\",\n   \"size\": \"133\",\n   \"md5Hash\": \"xK7pmJz/Oj5HGIyfQpYTig==\",\n
        \  \"mediaLink\": \"https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/temp?generation=1573073157236466&alt=media\",\n
        \  \"crc32c\": \"6wJAgQ==\",\n   \"etag\": \"CPLN+JW61uUCEAE=\"\n  }\n ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=temp%2F
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"prefixes\": [\n    \"nested/\",\n
        \   \"test/\"\n  ],\n  \"items\": [\n    {\n      \"kind\": \"storage#object\",\n
        \     \"id\": \"gcsfs-testing/2014-01-01.csv/1573073149979178\",\n      \"selfLink\":
        \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/201[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/download/storage/v1/b/gcsfs-testing/o/temp?alt=media
  response:
    body:
      string: '{"amount": 100, "name": "Alice"}

        {"amount": 200, "name": "Bob"}

        {"amount": 300, "name": "Charlie"}

        {"amount": 400, "name": "Dennis"}

'
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/octet-stream
      ETag:
      - CPLN+JW61uUCEAE=
      X-Goog-Generation:
      - '1573073157236466'
      X-Goog-Hash:
      - crc32c=6wJAgQ==,md5=xK7pmJz/Oj5HGIyfQpYTig==
      X-Goog-Metageneration:
      - '1'
      X-Goog-Storage-Class:
      - MULTI_REGIONAL
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=nested
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"prefixes\": [\n    \"nested/\"\n
        \ ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=nested%2F
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"prefixes\": [\n    \"nested/nested2/\"\n
        \ ],\n  \"items\": [\n    {\n      \"kind\": \"storage#object\",\n      \"id\":
        \"gcsfs-testing/nested/file1/1573073153000599\",\n      \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/neste[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=nested%2Fnested2
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"prefixes\": [\n    \"nested/nested2/\"\n
        \ ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/?delimiter=%2F&prefix=nested%2Fnested2%2F
  response:
    body:
      string: "{\n  \"kind\": \"storage#objects\",\n  \"items\": [\n    {\n      \"kind\":
        \"storage#object\",\n      \"id\": \"gcsfs-testing/nested/nested2/file1/1573073155079849\",\n
        \     \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/nested%2Fnested2%2Ffile1\",\n
       [...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/2014-01-01.csv
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/nested%2Ffile1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/nested%2Fnested2%2Ffile1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/temp
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/test%2Faccounts.1.json
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://www.googleapis.com/storage/v1/b/gcsfs-testing/o/test%2Faccounts.2.json
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
