name: CI

on: [push, pull_request, workflow_dispatch]

defaults:
  run:
    shell: bash -l -eo pipefail {0}

jobs:
  test:
    name: Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - name: Checkout source
        uses: actions/checkout@v5

      - name: Setup conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          environment-file: environment_gcsfs.yaml
          python-version: ${{ matrix.PY }}
          activate-environment: gcsfs_test

      - name: Conda info
        run: |
          conda list
          conda --version

      - name: install
        run: |
          pip install -e .
      - name: Run Standard Tests
        run: |
          export GOOGLE_APPLICATION_CREDENTIALS=$(pwd)/gcsfs/tests/fake-secret.json
          pytest -vv -s \
          --log-format="%(asctime)s %(levelname)s %(message)s" \
          --log-date-format="%H:%M:%S" \
          gcsfs/
      - name: Run Extended Tests
        run: |
          export GOOGLE_APPLICATION_CREDENTIALS=$(pwd)/gcsfs/tests/fake-secret.json
          export GCSFS_EXPERIMENTAL_ZB_HNS_SUPPORT="true"
          pytest -vv -s \
            --log-format="%(asctime)s %(levelname)s %(message)s" \
            --log-date-format="%H:%M:%S" \
            gcsfs/tests/test_extended_gcsfs.py

  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - uses: pre-commit/action@v3.0.1
