name: CI

on: [push, pull_request, workflow_dispatch]

defaults:
  run:
    shell: bash -l -eo pipefail {0}

jobs:
  test:
    name: Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Setup Conda Environment
        uses: mamba-org/provision-with-micromamba@main
        with:
          cache-downloads: true
          environment-file: environment_gcsfs.yaml
          environment-name: gcsfs_test
          extra-specs: |
            python=${{ matrix.python-version }}

      - name: Conda info
        run: |
          conda list
          conda --version

      - name: Install libfuse
        run: (sudo apt-get install -y fuse || echo "Error installing fuse.")

      - name: Run tests
        run: |
          export GOOGLE_APPLICATION_CREDENTIALS=$(pwd)/gcsfs/tests/fake-secret.json
          pytest -vvv --log-cli-level=DEBUG gcsfs/

  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.1.0
      - uses: actions/setup-python@v4
        with:
          python-version: "3.9"
      - uses: pre-commit/action@v3.0.0
